# Dependencies
node_modules/
pnpm-lock.yaml
yarn.lock

# Build output
client/dist/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*

# Editor
.vscode/
.DS_Store
Thumbs.db

# Misc
.vercel/
